@import url("https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffd300;
  font-family: "Averia Gruesa Libre", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

